#if __has_include(".extend.Xresources")
#include ".extend.Xresources"
#endif

! ^ The above lines are no comments!
! Leave them as they are if a file ~/.extend.Xresources is being used on your system.
! config can be added there or also here below.
! For comments use "!"

! Xft.dpi: 96
! Xft.antialias: true
! Xft.hinting: true
! Xft.rgba: rgb
! Xft.autohint: false
! Xft.hintstyle: hintslight
! Xft.lcdfilter: lcddefault
!
! XTerm*background: #2b2b2b
! XTerm*foreground: #e7e7e7
! XTerm*pointerColor: #16A085
! XTerm*faceName: Fixed
! XTerm*faceSize: 12


!!$HOME/.Xresources
URxvt.preeditType:Root
!!调整此处设置输入法
URxvt.inputMethod:fcitx
!!颜色设置
URxvt.depth:32
!!中括号内数表示透明度
URxvt.inheritPixmap:true
URxvt.background:#000000
URxvt.foreground:#ffffff
URxvt.colorBD:Gray95
URxvt.colorUL:Green
URxvt.color1:Red2
URxvt.color4:RoyalBlue
URxvt.color5:Magenta2
URxvt.color8:Gray50
URxvt.color10:Green2
URxvt.color12:DodgerBlue
URxvt.color14:Cyan2
URxvt.color15:Gray95
!!URL操作
URxvt.urlLauncher:chromium
URxvt.matcher.button:1
Urxvt.perl-ext-common:matcher
!!滚动条设置
URxvt.scrollBar:False
URxvt.scrollBar_floating:False
URxvt.scrollstyle:plain
!!滚屏设置
URxvt.mouseWheelScrollPage:True
URxvt.scrollTtyOutput:False
URxvt.scrollWithBuffer:True
URxvt.scrollTtyKeypress:True
!!光标闪烁
URxvt.cursorBlink:True
URxvt.saveLines:3000
!!边框
URxvt.borderLess:False
!!字体设置

Xft.dpi:96
URxvt.font:xft:Monaco:antialias=True:pixelsize=16,\
    xft:Terminess Powerline:size=12 \
    xft:Ubuntu Mono derivative Powerline:antialias=True:pixelsize=16,\
    xft:Sauce Code Powerline:antialias=True:pixelsize=16,\
    xft:Microsoft Yahei:antialias=True:pixelsize=16
URxvt.boldfont:xft:Monaco:antialias=True:pixelsize=16,\
    xft:PowerlineSymbols:pixelsize=16
